.popup__button:disabled {
  background: #fff;
  border: 1px solid #000000;
  color: #000000;
}

.form__input_type__error {
  border-bottom-color: red;
}

.form__input-error {
  display: none;
  color: red;
  font-size: 12px;
}

.form__input-error_active {
  display: block;
}

